img {
    float: left;
    border-radius: 40px;
    padding: 20px;
    width: 40%;
    height: 50%;
  }
h1 {
    color: red;
    text-align: center;
  }
h2 {
    color: blue;
    font-style: italic;
    text-align: center;
  }
h3 {
    color: rgb(0, 55, 128);
    }
p {
    font-family: sans-serif;
  }
ul {
    line-height: 40px;
  }
.line1 {
    border-color: red;
    text-align:center;
    font-size: 30px;
  }
.important  {
    font-style: italic;
    font-weight: 700;
  }
.font-style  {
    font-style: italic;
    line-height: 20px;
  }
.box-model {
    border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: whitesmoke;
  }
  