img {
    float: left;
  }
  h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  .line1 {
        color: red;
        text-align:center;
      }
      .important    {
          font-style: italic;
      }
